.feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 3rem; 
    padding: 6rem; 
    
}

.feature-heading {
    flex: 1; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 2rem;
}

.feature-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.feature-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FF8A71;
}

.feature-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Space between feature items */
}

.feature-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    padding-left: 1.5rem; /* Increased padding for text alignment */
}

.feature-item h1 {
    display: flex;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    width: 30%;
}
.feature-item h1::before{
    content: "";
    width: 45px;
    height: 2px;
    background: var(--gradient-bar);
    position: absolute;
    top: -9px;
}
.feature-item p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #81AFDD;
    width: 40%;
}